<div>
  <form action='/users' method="post">
    <label>Email: </label>
    <input type='email' name='email'/>
    <label>Password: </label>
    <input type='password' name='password'/>
    <label>Please confirm Password: </label>
    <input type='password' name='password_confirmation'/>
    <input type='submit' value='Sign up'/>
  </form>
</div>
